:root {
  --base-white-color: #ffffff;
  --base-black-color: #333333;
  --base-grey-color: #bdbdbd;
  --base-accent-color: #7859cf;
  --base-light-accent-color: #f0ebff;
  --background-light-grey-color: #f8f8f8;
}

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
